<div class="d-flex justify-content-center h-75 seatlayout">
    <table class="table-sm table-light ">
        <tbody class="">
            <tr>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
            </tr>
            <tr>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
            </tr>
            <tr>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
            </tr>
        </tbody>
        <tfoot class="bg-dark">
            <tr>
                <td class="rounded p-0 pb-1"></td>
                <td class="rounded p-0 pb-1"></td>
                <td class="rounded p-0 pb-1"></td>
                <td class="rounded p-0 pb-1"></td>
                <td class="rounded p-0 pb-1"></td>
                <td class="rounded p-0 pb-1"></td>
                <td class="rounded p-0 pb-1"></td>
                <td class="rounded p-0 pb-1"></td>
            </tr>
        </tfoot>
    </table>
</div>

<div class="action-panel bg-light border position-fixed  d-flex justify-content-end">
    <div class="flex-grow-1 bg-secondary rounded p-2 text-white m-2">1 seat</div>
    <input type="submit" class="btn text-white col-3 m-2 bg-info" value="Book">
</div>