td
{
    padding:0px 5px;
    cursor: pointer;
    background-color: white;
}
td:hover .icon
{
    color: rgb(73, 255, 73);
}


.action-panel
{
    bottom: 0;
    box-sizing: border-box;
    width: 100%;
}

.demoicon
{
    color: rgb(73, 255, 73);
}

.bg-gray{
    background-color: rgba(196, 192, 192, 0.507);
}

.seatlayout
{
    overflow-x: scroll;
    
    scrollbar-width: none;
}

.bg-screen
{
    background-color: rgb(41, 230, 167);
}


.selected
{
    color: rgb(73, 255, 73);
}