<ul class="list-group list-unstyled m-2">
    <li class="list-group-item border-0 shadow-sm m-1 rounded-0">
        <div class="title-panel">
            <p class="title mb-0 ">Sridevi Mall</p>
        </div>
        <div class="shows d-flex flex-wrap">
            <span class="border shadow-sm btn btn-sm rounded ">4:00 AM</span>
            <span class="border shadow-sm btn btn-sm rounded ">4:00 AM</span>
            <span class="border shadow-sm btn btn-sm rounded ">4:00 AM</span>
        </div>
    </li>
    <li class="list-group-item border-0 shadow-sm m-1 rounded-0">
        <div class="title-panel">
            <p class="title mb-0 ">Sridevi Mall</p>
        </div>
        <div class="shows d-flex flex-wrap">
            <span class="border shadow-sm btn btn-sm rounded ">4:00 AM</span>
            <span class="border shadow-sm btn btn-sm rounded ">4:00 AM</span>
            <span class="border shadow-sm btn btn-sm rounded ">4:00 AM</span>
            <span class="border shadow-sm btn btn-sm rounded ">4:00 AM</span>
            <span class="border shadow-sm btn btn-sm rounded ">4:00 AM</span>
            <span class="border shadow-sm btn btn-sm rounded ">4:00 AM</span>
            <span class="border shadow-sm btn btn-sm rounded ">4:00 AM</span>
        </div>
    </li>
    <li class="list-group-item border-0 shadow-sm m-1 rounded-0">
        <div class="title-panel">
            <p class="title mb-0 ">Sridevi Mall</p>
        </div>
        <div class="shows d-flex flex-wrap">
            <span class="border shadow-sm btn btn-sm rounded ">4:00 AM</span>
            <span class="border shadow-sm btn btn-sm rounded ">4:00 AM</span>
            <span class="border shadow-sm btn btn-sm rounded ">4:00 AM</span>
            <span class="border shadow-sm btn btn-sm rounded ">4:00 AM</span>
            <span class="border shadow-sm btn btn-sm rounded ">4:00 AM</span>
        </div>
    </li>
</ul>