<div class="container">
    <div class="Details">
        <div class="action-bar d-flex flex-wrap justify-content-end mb-2">
            <button class="btn btn-sm pl-2 pr-2 bg-info text-white m-2" >Change Password</button>
        </div>
        <div class="row p-2">
            <div class="info p-2 col-sm-5 m-2  border d-flex  ">
                <i class="material-icons">account_circle</i>
                <span class="pl-2">Sandeep</span>
            </div>
            <div class="info p-2 col-sm-5 m-2  border d-flex">
                <i class="material-icons">email</i>
                <span class="pl-2">polsani.sandeep@gmail.com</span>
            </div>
            <div class="info p-2 col-sm-5 m-2 align-self-start  border d-flex">
                <i class="material-icons">call</i>
                <span class="pl-2">9573028680</span>
            </div>
            <div class="info m-2 d-flex col-12 justify-content-start">
                <button class="shadow btn-sm btn rounded pl-2 pr-2 bg-info text-white m-2" >
                    <i class="material-icons">book</i>
                    <span class="pl-2">My Bookings</span>
                </button>
                <button class=" btn-sm btn shadow rounded pl-2 pr-2 bg-info text-white m-2" >
                    <i class="material-icons">confirmation_number</i>
                    <span class="pl-2">My Tickets</span>
                </button>
                <button class="rounded btn shadow btn-sm pl-2 pr-2 bg-info text-white m-2" >
                    <i class="material-icons">account_balance</i>
                    <span class="pl-2">Transactions</span>
                </button>
            </div>
        </div>
        <div class="additional">
            <div class="bookings">
                <dt>My Bookings</dt>
                <hr/>
                <ul class="list-unstyled row">
                    <li class="border-box col-sm-5 d-flex shadow-sm m-2 border p-2">
                        <div class="card col-4 p-0 border-0">
                            <img class="card-img-top" src="https://scontent.fhyd1-2.fna.fbcdn.net/v/t1.0-0/c0.22.200.200a/p200x200/317357_212466472141228_682523_n.jpg?_nc_cat=101&_nc_sid=cdbe9c&_nc_ohc=7LJFf6Rf5J8AX_wA_vK&_nc_ht=scontent.fhyd1-2.fna&oh=e134ae5a4be064ae342abd516560ef1c&oe=5EC98109" alt="Movie">
                        </div>
                        <div class="flex-grow-1 border-0 pl-2 pr-1 border-box">
                            <ul class="list-unstyled">
                                <li class="d-flex justify-content-between ">
                                    <small>Booking id</small>
                                    <small>13</small>
                                </li>
                                <li class="d-flex justify-content-between">
                                    <small>Movie Name</small>
                                    <small>Pokiri</small>
                                </li>
                                <li class="d-flex justify-content-between">
                                    <small>showId</small>
                                    <small>15</small>
                                </li>
                                <li class="d-flex justify-content-between">
                                    <small>Booking date</small>
                                    <small>26/04/2020</small>
                                </li>
                                <li class="d-flex justify-content-between">
                                    <small>Theatre</small>
                                    <small>Amrutha</small>
                                </li>
                                <li class="d-flex justify-content-between">
                                    <small>No. of seats</small>
                                    <small>2</small>
                                </li>
                                <li class="d-flex justify-content-between">
                                    <small>Total Amount</small>
                                    <small>323.25</small>
                                </li>
                                <li class="d-flex justify-content-between">
                                    <small>Ticket Id</small>
                                    <small>16</small>
                                </li>
                                <li class="d-flex justify-content-between">
                                    <small>Transaction Id</small>
                                    <small>65</small>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="border-box col-sm-5 d-flex shadow-sm m-2 border p-2">
                        <div class="card col-4 p-0 border-0">
                            <img class="card-img-top" src="https://scontent.fhyd1-2.fna.fbcdn.net/v/t1.0-0/c0.22.200.200a/p200x200/317357_212466472141228_682523_n.jpg?_nc_cat=101&_nc_sid=cdbe9c&_nc_ohc=7LJFf6Rf5J8AX_wA_vK&_nc_ht=scontent.fhyd1-2.fna&oh=e134ae5a4be064ae342abd516560ef1c&oe=5EC98109" alt="Movie">
                        </div>
                        <div class="flex-grow-1 border-0 pl-2 pr-1 border-box">
                            <ul class="list-unstyled">
                                <li class="d-flex justify-content-between ">
                                    <small>Booking id</small>
                                    <small>13</small>
                                </li>
                                <li class="d-flex justify-content-between">
                                    <small>Movie Name</small>
                                    <small>Pokiri</small>
                                </li>
                                <li class="d-flex justify-content-between">
                                    <small>showId</small>
                                    <small>15</small>
                                </li>
                                <li class="d-flex justify-content-between">
                                    <small>Booking date</small>
                                    <small>26/04/2020</small>
                                </li>
                                <li class="d-flex justify-content-between">
                                    <small>Theatre</small>
                                    <small>Amrutha</small>
                                </li>
                                <li class="d-flex justify-content-between">
                                    <small>No. of seats</small>
                                    <small>2</small>
                                </li>
                                <li class="d-flex justify-content-between">
                                    <small>Total Amount</small>
                                    <small>323.25</small>
                                </li>
                                <li class="d-flex justify-content-between">
                                    <small>Ticket Id</small>
                                    <small>16</small>
                                </li>
                                <li class="d-flex justify-content-between">
                                    <small>Transaction Id</small>
                                    <small>65</small>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
