
<div class="container">
    <header class="p-0">
    <h5 class="mt-4 pl-4">Admin Home</h5>
    <hr  class="m-0"/>
</header>
   
   <nav class="row justify-content-start p-1 ">


    <a class=" nav-link shadow-sm m-1" routerLink="viewMovie" routerLinkActive="bg-info text-white">view movie</a><br>
    <a class="nav-link shadow-sm m-1" routerLink="viewTheatre" routerLinkActive="bg-info text-white">view theatre</a><br>
    <!-- <a class=" nav-link" routerLink="viewScreen">view screen</a><br>
    <a class=" nav-link" routerLink="viewShow">view show</a><br> -->
    
    <a class="nav-link shadow-sm m-1" routerLink="addMovie" routerLinkActive="bg-info text-white">add Movie</a><br >  
    <a class=" nav-link shadow-sm m-1" routerLink="addTheatre" routerLinkActive="bg-info text-white">add Theatre</a><br>
    <!-- <a class="nav-link" routerLink="addScreen">add Screen</a><br>
    <a class=" nav-link" routerLink="addShow">add Show</a><br> -->
   
   
   
   
   </nav>
<router-outlet></router-outlet>
</div>