<div class="container">
    <form action="/location" method="POST">
        <div class="form-group ml-0 row justify-content-start">
          <small class=" w-100 form-control-sm">Search By city :</small>
          <input type="text" name="" id="" class="w-75 form-control " placeholder="" aria-describedby="searchLocation">
          <input type="submit" name="" id="" class="btn btn-light form-control w-auto ml-2" value="Search">
        </div>
    </form>
    <hr/>
    <div class="title">
        Movies
    </div>
    <!-- <app-movies></app-movies> -->
    <!-- <app-screens></app-screens> -->
    <app-seatmap></app-seatmap>
</div>