<div class="movies row flex-wrap justify-content-around  " >
    <div class="card shadow rounded p-1 col-sm-3 m-2 ">
        <img class="card-img-top " src="https://scontent.fhyd1-2.fna.fbcdn.net/v/t1.0-0/c0.22.200.200a/p200x200/317357_212466472141228_682523_n.jpg?_nc_cat=101&_nc_sid=cdbe9c&_nc_ohc=7LJFf6Rf5J8AX_wA_vK&_nc_ht=scontent.fhyd1-2.fna&oh=e134ae5a4be064ae342abd516560ef1c&oe=5EC98109" alt="Image">
        <div class="card-body bg-light ">
            <h5 class="card-title large">Pokiri</h5>
            <hr class="m-0"/>
            <div class="m-2 d-flex justify-content-between">
                <div class="box">
                    <small class=" small">Hero</small>
                    <div class="">Prabhas</div>
                </div>
                <div class="box">
                    <small>Heroine</small>
                    <div>Her</div>
                </div>
                <div class="box">
                    <small>Director</small>
                    <!-- <p>sujeeth</p> -->
                    <div>Sujeeth</div>
                </div>
            </div>
            <div class="action d-flex justify-content-end">
                <div class="w-50 btn btn-sm bg-transparent text-center">Trailer</div>
                <button class="btn  btn-sm w-50 btn-primary rounded-right">Book </button>
            </div>
        </div>
    </div>
</div>