<div class="container">
    <dt>Payment</dt>
    <hr/>
    <form action="/pay" method="post">
        <div class="form-group">
            <label for="payment type">Selected Payment Method</label>
            <select class="form-control dropdown" >
                <option disabled>Payment Method </option>
                <option>Credit Card</option>
                <option>Debit Card</option>
                <option>UPI</option>
                <option>Net Banking</option>
            </select>
        </div>

        <hr/>
        <div class="">
            <div class="w-50">
                <img src="" alt="none">
            </div>
            <label>clarification questions</label>
            <input type="text" class="form-control" [(ngModel)]="result" placeholder="enter yes and submit" name="clarification" > 
        </div>
        <input type="submit" value="Pay" *ngIf="result=='yes'" class="text-uppercase btn btn-primary m-3 float-right pl-3 pr-3" (click)="makePayment()"> 
    </form>
</div>